<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dis-Missle</title>
</head>

<body>
    <nav>
        <div>
            <h1>Home</h1>


            <h2> <img
                    src="https://previews.123rf.com/images/nopember30/nopember301605/nopember30160500006/58033224-school-bus-side-view-with-rocket.jpg"
                    alt="rocketbus" width="200">Dis-Missle: Will have you home in a Whistle!</h2>

        </div>
        <ul>
            <li> <a href="/">Homepage</a></li>
            <li><a href="/allstudents">All Student page</a></li>
            <li><a href="/allstudents/new">Add Student</a></li>
            <li><a href="/mainlist">Main List</a></li>
            <li><a href="/projector">Projector</a></li>
            <li><a href="/door">Door</a></li>
        </ul>
        <div>
            <button>
                <a href="/allstudents/delete">Empty All Lists</a>
            </button>
            <a class="weatherwidget-io" href="https://forecast7.com/en/38d50n77d49/22556/" data-label_1="STAFFORD"
                data-label_2="WEATHER" data-theme="original">STAFFORD WEATHER</a>

        </div>
    </nav>

    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
</body>

</html>