<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Family</title>
</head>

<body>
    <div class="create-blog content">
        <form action="/allstudents" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
            <label for="teacher">Teacher:</label>
            <input type="text" id="teacher" name="teacher" required>
            <label for="siblings">Siblings:</label>
            <input id="siblings" name="siblings"></input>
            <button>Submit</button>
        </form>
    </div>

</body>

</html>